.profileMenu {
  .profileImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
  .menuOptions {
    background-color: white;
    position: absolute;
    top: 50px;
    right: 0;
    width: 120px;
    ul {
      list-style: none;
      li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 12px;
        font-weight: 500;
        color: #181818;
        cursor: pointer;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
