.registerContent {
  min-height: 100vh;
  background-image: url("/images/sandy_wallpaper.webp");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #181818;
    padding: 40px 0 0;
    h1 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 32px;
      font-weight: 700;
      font-family: var(--font-playfair);
      color: #343132;
    }
    h2 {
      margin-top: 16px;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;
      font-family: var(--font-playfair);
      color: #343132;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    label {
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 8px;
      font-family: var(--font-inter);
    }
    input {
      font-family: var(--font-inter);
      background-color: #f9f8f7;
      border: 1px solid #e0e0e0;
      border-radius: 18px;
      padding: 8px 8px 8px 12px;
      width: 100%;
      margin-bottom: 10px;
      color: #181818;
      outline: none;
      transition:
        border-color 0.15s ease,
        box-shadow 0.15s ease;
      &:focus {
        border-color: #588a8d;
      }
    }
    p {
      color: red;
      font-size: 12px;
      margin: -6px 0 6px 6px;
    }
    .submitBtn {
      background-color: #588a8d;
      border: none;
      border-radius: 18px;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      font-weight: 600;
      font-family: var(--font-inter);

      cursor: pointer;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
  .tos {
    display: inline;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 260px;
    padding-top: 20px;
    margin-left: -50px;
    font-size: 12px;
    color: #555555;
    font-family: var(--font-inter);
    line-height: 130%;
    a {
      color: #588a8d;
      text-decoration: underline;
      &:hover {
        filter: brightness(1.3);
      }
    }
  }
  .booksImg {
    margin: -50px -275px 8px 0;
  }
  .loginLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    font-size: 12px;
    color: #555555;
    padding: 10px 0 50px;
    a {
      color: #588a8d;
      text-decoration: underline;
      font-family: var(--font-inter);
      &:hover {
        filter: brightness(1.3);
      }
    }
  }
}
@media (min-width: 768px) {
  .registerContent {
    .container {
      padding: 100px 0 0;
      h1 {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 38px;
        font-weight: 700;
        .openBook {
          width: 42px;
          height: 32px;
        }
      }
      h2 {
        font-size: 26px;
      }
    }
    .form {
      width: 380px;
      label {
        font-size: 14px;
      }
      input {
        padding: 12px;
        margin-bottom: 14px;
        font-size: 14px;
        height: 40px;
      }
      .submitBtn {
        height: 40px;
        font-size: 14px;
      }
    }
    .tos {
      width: 300px;
      margin-left: -70px;
      font-size: 12px;
    }
    .booksImg {
      margin: -50px -300px 8px 0;
    }
    .loginLink {
      width: 320px;
      margin: 0 auto;
      font-size: 12px;
      color: #555555;
      padding: 10px 0 50px;
    }
  }
}

@media (min-width: 1200px) {
}
