.registerContent {
  min-height: 100vh;
  background-image: url("/images/sandy_wallpaper.webp");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #181818;
    padding: 40px 0 0;
    h1 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 32px;
      font-weight: 700;
    }
    h2 {
      margin-top: 16px;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    label {
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 8px;
    }
    input {
      background-color: #f9f8f7;
      border: 1px solid #e0e0e0;
      border-radius: 18px;
      padding: 8px 8px 8px 12px;
      width: 100%;
      margin-bottom: 10px;
      color: #181818;
    }
    .submitBtn {
      background-color: #588a8d;
      border: none;
      border-radius: 18px;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .tos {
    display: inline;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 260px;
    padding-top: 20px;
    margin-left: -50px;
    font-size: 12px;
    color: #555555;
    a {
      color: #588a8d;
      text-decoration: underline;
    }
  }
  .booksImg {
    margin: -50px -275px 8px 0;
  }
  .loginLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    font-size: 12px;
    color: #555555;
    padding: 10px 0 50px;
    a {
      color: #588a8d;
      text-decoration: underline;
    }
  }
}
