.banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center center;
}

/* Hide all by default */
.mobile,
.tablet,
.desktop {
  display: none;
}

/* Mobile */
@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet {
    display: block;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .desktop {
    display: block;
  }
}
